<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Categorías</a></li>
        <li>
          <form action="#" method="GET">
            <input type="text" name="search" placeholder="Buscar">
            <button type="submit">Buscar</button>
          </form>
        </li>
        <li><a href="#">Cuenta</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>