<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>Categorías
          <ul>
          {% for padre in categorias_padre %}
              <li>
                  {{ padre.nombre }}
                  {% if padre.categoria_set.all %}
                      <ul>
                      {% for hijo in padre.categoria_set.all %}
                          <li><a href="#">{{ hijo.nombre }}</a></li>
                      {% endfor %}
                      </ul>
                  {% endif %}
              </li>
          {% endfor %}
          </ul>
      </li>
        <li>
          <form action="#" method="GET">
            <input type="text" name="search" placeholder="Buscar">
            <button type="submit">Buscar</button>
          </form>
        </li>
        <li><a href="#">Cuenta</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>