{% extends 'base.html' %}

{% block title %}Mi cuenta{% endblock %}

{% block content %}
    <div class="d-flex flex-column min-vh-100">
        <h1 class="my-5">Mi cuenta</h1>
        <section>
            <h2>Detalles</h2>
            <ul class="list-group">
              <li class="list-group-item mt-4">Nombre de usuario: {{ usuario.username }}</li>
              <li class="list-group-item">Nombre: {{ usuario.first_name }}</li>
              <li class="list-group-item">Apellido: {{ usuario.last_name }}</li>
              <li class="list-group-item">Email: {{ usuario.email }}</li>
            </ul>
        </section>
    </div>
{% endblock %}
