{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Pagar{% endblock %}

{% block content %}
  <style>
    form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  form label {
    margin-bottom: 5px;
  }

  form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>
  <div class="d-flex flex-column min-vh-100">
    <h1 class="mt-5">Pagar</h1>
    <section>
      <h2 class="mt-4 mb-3">Dirección de envío</h2>
        <form>
          {% csrf_token %}
          {{ direccion_form.as_div }}
        </form>
    </section>
    <section>
      <h2 class="mt-4 mb-3">Método de pago</h2>
      <form class="mb-4">
        {% csrf_token %}
        {{ pago_form.as_div }}
      </form>
      <div>Monto: 
        <span id="span-monto" data-monto="{{ total_carrito }}">
          {{ total_carrito|pesos_chilenos }}
        </span>
      </div>
    </section>
    <section>
      <h2 class="mt-4 mb-3">Código de descuento</h2>
      <form class="mb-4" action="{% url 'validar_descuento' %}">
        {% csrf_token %}
        <label>Ingresa tu código de descuento
          <input class="mt-2" type="text" id="codigo_descuento" name="codigo_descuento">
        </label>
        <button
          class="btn- btn-primary mt-1"
          id="btn-descuento"
          type="button">
          Validar
        </button>
      </form>
    </section>
    <button class="btn btn-success mt-4 w-25" id="btn-pagar">Pagar</button>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'main/js/pagar.js' %}"></script>
{% endblock %}
