{% extends "base.html" %}
{% load static %}

{% block title %}{{ producto.titulo }}{% endblock %}

{% block content %}
  <h1>{{ producto.titulo }}</h1>
  <section>
    <h2>Detalles</h2>
    <ul>
      <li>Descripción: {{ producto.descripcion }}</li>
      <li>Precio: {{ producto.precio }}</li>
      <li>Vendedor: {{ producto.vendedor }}</li>
      <li>Stock: {{ producto.cantidad_stock }}</li>

      {% if producto.id in ids_productos_carrito %}
      <li>Producto añadido al carrito.</li>
      {% else %}
        <li>
          <form action="{% url 'agregar_al_carrito' producto.id %}">
            {% csrf_token %}
            <button 
              type="button"
              id="btn-agregar-al-carrito">
                Agregar al carrito
            </button>
          </form>
        </li>
      {% endif %}
      <li> 
      {% for imagen in imagenes %}
        <img src="{{ imagen.url_imagen }}" alt="{{ producto.titulo }}">
      {% endfor %}
      </li>
    </ul>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'main/js/producto.js' %}"></script>
{% endblock %}
